header {
    background: var(--background-color);
    position: fixed;
    width: 100%;
    max-width: 1920px;
}

header nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .logo {
    padding: 0.75rem;
}

header .logo img{
    width: 10%;
}

header nav ul {
    list-style: none;
    margin: 1rem;
}

header nav ul li {
    display: inline-block;
    padding: 0.50rem;
    margin-top: 0.50rem;
    text-align: center;
}

header nav ul li a {
    color: var(--primary-color);
    padding: 1rem;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: var(--third-color);
    color: var(--background-color);
}
