* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}